<% const brands = ["HP", "Lenovo", "Dell", "Samsung", "ASUS", "Acer"];
   const types = ["Chromebook", "Gaming", "Business"];
   const brandChecked = brand => {
        if (!req.query.brand) return false;
        // to handle both single and multiple values
        const toggle = [req.query.brand].flat().indexOf(brand);
        return toggle > -1;
   }
   const typeChecked = t => {
        if (!req.query.type) return false;
        const toggle = [req.query.type].flat().indexOf(t);
        return toggle > -1;
   }                                                            %>

    <nav class="col-md-2 left-sidebar d-none d-md-block">
        <form>
            <ul class="flex-column">
                <h4>Brand</h4>
<%              brands.forEach(brand => {                       %>
                <li>
                    <input type="checkbox" name="brand" value=<%= brand %>
<%                         if (brandChecked(brand)) { %> checked <% } %>>
                    <%= brand %>
                </li>
<%              });                                             %>

                <h4>Product Type</h4>
<%              types.forEach(t => { %>
                <li>
                    <input type="checkbox" name="type" value=<%= t %>
<%                         if(typeChecked(t)) { %> checked <% } %>>
                    <%= t %>
                </li>
<%              });                                             %>

                <button id="filter">Filter</button>
            </ul>
        </form>
    </nav>
