    <nav id="favorites_list" class="col-md-2 right-sidebar d-none d-md-block">
        <ul class="flex-column">
            <h4>Favorites</h4>
<%          for (let product of favorites) {                    %>
            <li>
                <span>
                    <button id="<%= product._id %>">🗑️️</button>
                    <a href="/products/details/<%= product._id %>">
                        <%= product.name %>
                    </a>
                </span>
            </li>
<%          }                                                   %>
        </ul>
        <script src="/public/js/sidebar.js"></script>
    </nav>
