$dark-link: #333333;
$sidebar: #EEEEEE;

main {
    padding: 1rem;
}

.card {
    img {
        height: auto;
        width: 100%;
        display: block;
    }
}

.card-body {
    a {
        font-weight: bold;
        color: $dark-link !important;
        text-decoration: none !important;
    }
}

li.active {
    font-weight: bold;
}

ul.mr-auto {
    margin-right: auto;
    margin-left: 0.5em;
}

ul.user {
    margin-right: 0.5em;
}

ul.flex-column {
    h4 {
        margin-left: -1.5em;
        margin-top: 0.5em;
    }
    button#filter {
        margin-top: 1em;
        margin-left: -2em;
    }
    li {
        list-style-type: none;
        margin-left: -2em;
        margin-bottom: 0.5em;
        a {
            text-decoration: none !important;
        }
        button {
            border: 1px solid $sidebar;
        }
    }
}

.form-user {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 10vh;
    h1 {
        margin-bottom: 5vh;
    }
    div {
        input {
            width: 100%;
        }
    }
    button {
        width: 100%;
    }
}

.left-sidebar, .right-sidebar {
    position: fixed;
    top: 57px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;           // Scrollable contents if viewport is shorter than content.
    background-color: $sidebar;
}

.right-sidebar {
    right: 0;
}

.left-sidebar {
    left: 0;
}

main.col-md-9 {
    margin: auto;
}

#navigation {
    text-align: center;
    a {
        margin-left: 1em;
        margin-right: 1em;
    }
}
